[tool.poetry]
name = "mlflow_for_ml_dev"
version = "0.1.2"
description = "Code examples for the youtube playlist 'MLflow for Machine Learning Development' by Manuel Gil"
authors = ["Manuel Gil <manuelgilsitio@gmail.com>"]
readme = "README.md"
maintainers = ["Manuel Gil <manuelgilsitio@gmail.com>"]
repository = "https://github.com/manuelgilm/mlflow_for_ml_dev"
license = "MIT"
keywords = ["mlflow", "machine learning", "development", "youtube", "tutorial"]
classifiers = [
    "Topic :: Software Development :: Build Tools",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.11"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"